@model ViewModel.Models.Aluno


<script src="~/Scripts/Aluno/cadastro-aluno.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.mask.min.js" type="text/javascript"></script>
 <body onload="inicio()">

 
    <div class="container">
      <div class="hero-unit">
        <div>
          <h1>
            Cadastro Aluno
          </h1>
        </div>
      </div>
      <div class="well">
        <h4>
          Entre com os dados:
        </h4>
       
            <div class="control-group">
            <label>Nome</label>
            <input type="text" id="id-nome" value="@Model.Nome"/>
          </div>
          <div class="control-group">
            <label>CPF</label>
            <input type="text" id="id-cpf" maxlength="14" value="@Model.Cpf"/>
          </div>
          <div class="control-group">
            <label>RG</label>
           <input type="text" id="id-rg" value="@Model.Rg"/>
          </div>
          <div class="control-group">
            <label>Data de Nascimento</label>
            <input type="text" id="id-dtNasc" value="@Model.DataNascimento"/>
          </div>
          <div class="control-group">
            <label>Curso</label>
            <select name="Nome do curso">
                <option value="1" >Biologia</option>
                <option value="2">Geografia</option>
            </select>        
          </div>            
            <input type="submit" value="Enviar" id="bt-salvar" class="btn btn-primary btn-large"/>                           
      </div>
    </div>
     </body>